# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
from IPython.utils.text import columnize

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data_dict = {'evolution': [],
             'hp': [],
             'name': [],
             'pokedex': [],
             'type': []}

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon = pd.DataFrame(data_dict)
pokemon['evolution'] = ['Ivysaur',
                        'Charmeleon',
                        'Wartortle',
                        'Metapod', ]
pokemon['hp'] = [45, 39, 44, 45]
pokemon['name'] = ['Bulbasaur',
                   'Charmander',
                   'Squirtle',
                   'Caterpie']
pokemon['pokedex'] = ['yes', 'no', 'yes', 'no']
pokemon['type'] = ['grass', 'fire', 'water', 'bug']
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']].copy()
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [16]:
pokemon.loc[:, 'mana'] = [100,200,100,300]
pokemon=pokemon.drop(columns=['place'])
pokemon

         name   type  hp   evolution pokedex  mana
0   Bulbasaur  grass  45     Ivysaur     yes   100
1  Charmander   fire  39  Charmeleon      no   200
2    Squirtle  water  44   Wartortle     yes   100
3    Caterpie    bug  45     Metapod      no   300

### Step 6. Present the type of each column

In [17]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
mana          int64
dtype: object

### BONUS: Create your own question and answer it.